//Скрипт ресурсов, созданный в Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE 2.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)\r\n"
    "LANGUAGE 25, 1\r\n"
    "#include ""res\\testGamepad.rc2""  // ресурсы, не редактируемые в Microsoft Visual C++\r\n"
    "#include ""l.RUS\\afxres.rc""      // Стандартные компоненты\r\n"
    "#if !defined(_AFXDLL)\r\n"
    "#include ""l.RUS\\afxprint.rc""        // ресурсы для печати/предварительного просмотра\r\n"
    "#include ""l.RUS\\afxribbon.rc""        // Лента MFC и ресурсы панели управления\r\n"
    "#endif\r\n"
    "#endif\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Значок
//

// Значок с наименьшим значением идентификатора помещается первым, чтобы гарантировать использование
// идентичного значка приложения для всех систем.

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1
IDR_MAINFRAME           ICON         "res\\testGamepad.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Точечный рисунок
//

IDR_MAINFRAME           BITMAP                  "res\\Toolbar.bmp"
IDR_MAINFRAME_256       BITMAP                  "res\\Toolbar256.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Панель инструментов
//

IDR_MAINFRAME TOOLBAR 16, 15
BEGIN
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_APP_ABOUT
END

IDR_MAINFRAME_256 TOOLBAR 16, 15
BEGIN
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_APP_ABOUT
END

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1

/////////////////////////////////////////////////////////////////////////////
//
// Меню
//

IDR_MAINFRAME MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "В&ыход",                       ID_APP_EXIT
    END
    POPUP "&Правка"
    BEGIN
        MENUITEM "&Отменить\tCtrl+Z",               ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "&Вырезать\tCtrl+X",                ID_EDIT_CUT
        MENUITEM "&Копировать\tCtrl+C",               ID_EDIT_COPY
        MENUITEM "Вст&авить\tCtrl+V",              ID_EDIT_PASTE
    END
    POPUP "&Вид"
    BEGIN
        POPUP "&Панели инструментов и закрепляемые окна"
        BEGIN
            MENUITEM "<местозаполнитель>",           ID_VIEW_TOOLBAR
        END
        MENUITEM "&Строка состояния",                 ID_VIEW_STATUS_BAR
        POPUP "&Вид приложения"
        BEGIN
            MENUITEM "Windows &2000",           ID_VIEW_APPLOOK_WIN_2000
            MENUITEM "Office &XP",              ID_VIEW_APPLOOK_OFF_XP
            MENUITEM "&Windows XP",             ID_VIEW_APPLOOK_WIN_XP
            MENUITEM "Office 200&3",            ID_VIEW_APPLOOK_OFF_2003
            MENUITEM "Visual Studio 200&5",     ID_VIEW_APPLOOK_VS_2005
            MENUITEM "Visual Studio 200&8",     ID_VIEW_APPLOOK_VS_2008
            POPUP "Office 200&7"
            BEGIN
                MENUITEM "&Голубой стиль",         ID_VIEW_APPLOOK_OFF_2007_BLUE
                MENUITEM "Ч&ерный стиль",        ID_VIEW_APPLOOK_OFF_2007_BLACK
                MENUITEM "&Серебристый стиль",       ID_VIEW_APPLOOK_OFF_2007_SILVER
                MENUITEM "&Зеленовато-голубой стиль",         ID_VIEW_APPLOOK_OFF_2007_AQUA
            END
        END
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&О проекте testGamepad...",          ID_APP_ABOUT
    END
END



IDR_POPUP_EDIT MENU
BEGIN
	POPUP "Редактировать"
	BEGIN
		MENUITEM "&Вырезать\tCtrl+X",            ID_EDIT_CUT
		MENUITEM "&Копировать\tCtrl+C",           ID_EDIT_COPY
		MENUITEM "Вст&авить\tCtrl+V",          ID_EDIT_PASTE
    END
END

IDR_HELP_MENU MENU 
BEGIN
    MENUITEM "&О проекте testGamepad...",          ID_APP_ABOUT
END

IDR_THEME_MENU MENU
BEGIN
    MENUITEM "Office 2007 (&голубой стиль)",       ID_VIEW_APPLOOK_OFF_2007_BLUE
    MENUITEM "Office 2007 (ч&ерный стиль)",      ID_VIEW_APPLOOK_OFF_2007_BLACK
    MENUITEM "Office 2007 (&серебристый стиль)",     ID_VIEW_APPLOOK_OFF_2007_SILVER
    MENUITEM "Office 2007 (&зеленовато-голубой стиль)",       ID_VIEW_APPLOOK_OFF_2007_AQUA
    MENUITEM "Win&dows 7",                      ID_VIEW_APPLOOK_WINDOWS_7
END

/////////////////////////////////////////////////////////////////////////////
//
// Сочетание клавиш
//

IDR_MAINFRAME ACCELERATORS
BEGIN
    "C",            ID_EDIT_COPY,           VIRTKEY,CONTROL,NOINVERT
    "V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL,NOINVERT
    VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT,NOINVERT
    VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT,NOINVERT
    VK_F6,          ID_NEXT_PANE,           VIRTKEY ,NOINVERT
    VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT,NOINVERT
    VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL,NOINVERT
    VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT,NOINVERT
    "X",            ID_EDIT_CUT,            VIRTKEY,CONTROL,NOINVERT
    "Z",            ID_EDIT_UNDO,           VIRTKEY,CONTROL,NOINVERT
END




/////////////////////////////////////////////////////////////////////////////
//
// Диалоговое окно
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О проекте testGamepad"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "testGamepad, версия 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2015",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "ОК",IDOK,113,41,50,14,WS_GROUP
END



/////////////////////////////////////////////////////////////////////////////
//
// Версия
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "CompanyName", "TODO: <Название организации>"
            VALUE "FileDescription", "testGamepad"
            VALUE "FileVersion",     "1.0.0.1"
            VALUE "InternalName",    "testGamepad.exe"
            VALUE "LegalCopyright", "TODO: (c) <Название организации>.  Все права защищены."
            VALUE "OriginalFilename","testGamepad.exe"
            VALUE "ProductName", "TODO: <Название продукта>"
            VALUE "ProductVersion",  "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Таблица строк
//

STRINGTABLE
BEGIN
// В приложениях, предназначенных не для Mac, две дополнительные подстроки удаляются
    IDR_MAINFRAME           "testGamepad"
END
STRINGTABLE
BEGIN
    AFX_IDS_APP_TITLE       "testGamepad"
    AFX_IDS_IDLEMESSAGE     "Готово"
END
STRINGTABLE
BEGIN
    ID_INDICATOR_EXT        "EXT"
    ID_INDICATOR_CAPS       "CAP"
    ID_INDICATOR_NUM        "NUM"
    ID_INDICATOR_SCRL       "SCRL"
    ID_INDICATOR_OVR        "OVR"
    ID_INDICATOR_REC        "REC"
END
STRINGTABLE
BEGIN
    ID_APP_ABOUT            "Вывод сведений о программе, ее версии и авторских правах\nО программе"
    ID_APP_EXIT             "Завершение работы приложения с запросом на сохранение документов\nВыход"
    ID_NEXT_PANE            "Переход к следующей области окна\nСледующая область"
    ID_PREV_PANE            "Возврат к предыдущей области окна\nПредыдущая область"
    ID_WINDOW_SPLIT         "Разделение активного окна на области\nРазделить"
    ID_EDIT_CLEAR           "Удаление выделенного фрагмента\nУдалить"
    ID_EDIT_CLEAR_ALL       "Полное удаление содержимого документа\nУдалить все"
    ID_EDIT_COPY            "Копирование выделенного фрагмента в буфер обмена\nКопировать"
    ID_EDIT_CUT             "Удаление выделенного фрагмента в буфер обмена\nВырезать"
    ID_EDIT_FIND            "Поиск указанного текста\nНайти"
    ID_EDIT_PASTE           "Вставка содержимого буфера обмена\nВставить"
    ID_EDIT_REPEAT          "Повторение последнего действия\nПовторить"
    ID_EDIT_REPLACE         "Замена заданного текста другим текстом\nЗаменить"
    ID_EDIT_SELECT_ALL      "Выделение всего документа\nВыделить все"
    ID_EDIT_UNDO            "Отмена последнего действия\nОтменить"
    ID_EDIT_REDO            "Повторное выполнение последнего отмененного действия\nВернуть"
    ID_VIEW_STATUS_BAR      "Показать или скрыть строку состояния\n Переключение строки состояния"
END

STRINGTABLE
BEGIN
    AFX_IDS_SCSIZE          "Изменение размера окна"
    AFX_IDS_SCMOVE          "Изменение положения окна"
    AFX_IDS_SCMINIMIZE      "Свертывание окна в значок"
    AFX_IDS_SCMAXIMIZE      "Развертывание окна до полного размера"
    AFX_IDS_SCNEXTWINDOW    "Переход к следующему окну документа"
    AFX_IDS_SCPREVWINDOW    "Переход к предыдущему окну документа"
    AFX_IDS_SCCLOSE         "Закрытие активного окна с запросом на сохранение документов"
    AFX_IDS_SCRESTORE       "Восстановление исходных размеров окна"
    AFX_IDS_SCTASKLIST      "Переход к списку задач"
END


STRINGTABLE
BEGIN
    IDS_STATUS_PANE1        "Панель 1"
    IDS_STATUS_PANE2        "Панель 2"
    IDS_TOOLBAR_STANDARD    "Стандартный"
    IDS_TOOLBAR_CUSTOMIZE   "Настройка..."
    IDS_EDIT_MENU           "Редактировать"
END
#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Создано из ресурса TEXTINCLUDE 3.
//

#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1
#include "res\\testGamepad.rc2"  // ресурсы, не редактируемые в Microsoft Visual C++
#include "l.RUS\\afxres.rc"      // Стандартные компоненты
#if !defined(_AFXDLL)
#include "l.RUS\\afxprint.rc"        // ресурсы для печати/предварительного просмотра
#include "l.RUS\\afxribbon.rc"        // Лента MFC и ресурсы панели управления
#endif
#endif
#endif    // не APSTUDIO_INVOKED
